@model StoriesOfTheLand.Models.Specimen
@{
    ViewData["Title"] = Model.SpecimenID;
}


@* Display the Specimen's Latin Name *@
<div class="text-center mb-5">
    @*Display For displays the model's property, in this case, it's a Latin Name*@
    <div>
    <h3>English Name</h3>
    @Html.DisplayFor(model => model.EnglishName)
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.CreeName))
    {
        <div>
            <h3>Cree Name</h3>
        <div>
            @Html.DisplayFor(model => model.CreeName)
        </div>
    </div>
    }
    <div>
        <h3>Latin Name</h3>
        @Html.DisplayFor(model => model.LatinName)
    </div>

    <div>
        <img src="/images/@Model.SpecimenImagePath" alt="@Model.SpecimenImagePath" width="320px" class="img-thumbnail" />
    </div>

    <div class="overflow-auto">
        <h3>Cultural Significance</h3>
        @Html.DisplayFor(model => model.CulturalSignificance)
    </div>

    <div class="overflow-auto">
        <h3>Description</h3>
        @Html.DisplayFor(model => model.SpecimenDescription)
    </div>
</div>

@section footer {
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="col-sm mx-auto p-2 justify-content-center">
                <img src="/images/Saskatchewan_Polytechnic_Logo.png" style="max-width: 150px; max-height: 100px;">
            </div>
            <div class="col-sm mx-auto p-2 justify-content-center">
                <img src="/images/SWF-2-Circle-Logo-horizontal-2C-copy-2048x837.png" style="max-width: 150px; max-height: 100px;">
            </div>
            <div class="col-sm mx-auto p-2 justify-content-center">
                <img src="/images/pa-grand-council-logo.jpg" style="max-width: 150px; max-height: 100px;">
            </div>
        </div>
    </div>
}
